

/*created by online student .ie*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.day6-classwork-section {
    max-width: 1700px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

header.day6-header {
    min-height: 150px;
    background-color: lightgreen;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

header .logo {
    padding: 10px;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

header h1 {
    padding: 10px;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

header button {
    height: 30px;
    max-width: 100px;
    width: 100%;
}

.wrapper {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    border: 1px solid black;
}

nav.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 5px;
    border: 1px solid black;
    margin-top: 5px;
}

nav.nav a{
    display: inline-block;
    border: 1px solid black;
    padding: 20px 50px;
}

section.day6-main {
    flex: 1;
    background-color: lightgoldenrodyellow;

    display: flex;
    padding: 10px;
    gap: 10px;
}

.main-left,
.aside-right{
    border: 1px solid black;
}

.main-left {
    flex: 5;
    display: grid;
    place-content: center;
    font-size: 40px;
}

.aside-right {
    flex: 1;
    padding: 5px;  
}


.image-wrapper {
   max-width: 300px;
   width: 100%;
   height: 200px;
   border: 1px solid black;
   background-image: url( https://img.freepik.com/free-vector/illustration-computer-icon_53876-5559.jpg?w=740&t=st=1707472354~exp=1707472954~hmac=922a2815bd08e1205a5a19208d0032d8ef4121434d545746dfffcd6e84793210);
   /* https://picsum.photos/ */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

aside.aside-right a {
    max-width: 150px;
    width: 100%;
    display: block;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 30px;
    display: flex;
    display: grid;
    place-content: center;
}


footer.day6-footer {
    min-height: 100px;
    background-color: lightslategray;

    display: flex;
    align-items: center;
    justify-content: center;  
}

footer.day6-footer a {
    max-width: 150px;
    width: 100%;
    display: inline-block;
    border: 1px solid black;
    padding: 20px 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}